.app-footer {
    text-align: center;
    padding: 24px 0;
    background-color:#D8C3A5;
    padding: '24px 0';
  }
  
  .app-footer .footer-link{
    margin: 6px 8px; /* Adjust the space between links as needed */
    display: inline-block;
  }

  .horizontal-line {
    border: none; /* Remove default border */
    border-top: 1px solid #ccc; /* Adjust color and thickness as needed */
    width: 50%;
    margin: 16px auto;
  }

  .footer-para {
    width: 50%;
    margin: 16px auto; 
  }

  .footer-para > P {
    padding-top:2%;
  }

  .footer-icons {
    font-size: 50px;
    padding:2%;
    color:#E98074;

  }

  img {
    height:20%;
    width:80%;
  }