.app-footer {
	text-align: center;
	/* background-color:#D8C3A5; */
}

.app-footer .footer-link {
	margin: 6px 8px;
	display: inline-block;
}

.horizontal-line {
	border: none;
	border-top: 1px solid #ccc;
	width: 50%;
	margin: 16px auto;
}

.footer-para {
	width: 50%;
	margin: 16px auto;
}

.footer-para > P {
	padding-top: 2%;
}

.footer-icons {
	font-size: 30px;
	padding: 2%;
	color: #E98074;
	margin-right:20px;

}

.footerimg {
	height: 20%;
	width: 80%;
}