.paddingListings {
    padding: 9rem 5rem 5rem 5rem;
}

.property-card {
    margin-bottom: 40px;
    padding: 1rem;
}

 .neighborhood_card{
   border: 1px solid #424242;
   padding: 1rem;
   border-radius: 20px;
   margin: 0.2rem;
   text-align: center;
}
.neighborhood_card:hover{
    background-color: #dbdad6;
    transition: 0.3s;
}


.selected {
    background-color: #5ea3f9;
  }

  .accent_red{
   color:  #E85A4F;
  }