.centered-card-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.signUpCard {
    width:800px;
}


.submitButton {
    display: flex;
    align-items: center;
    justify-content: center;
}