:root{
    --white: #FFFFFF;
    --off_white: #EAE7DC;
    --beige:#D8C3A5;
    --grey:#8E8D8A;
    --peach:#E98074;
    --red: #E85A4F;
    --light_grey:#dbdad6;
    --blue:#68a2d5;

    --grey:#424242;

  }