.profileIcons {
    font-size: 15px;
    margin-right: 10px;
}

#contactInfo {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.details-container {
    width: 70%;
}

#ageIcon {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.profile_page {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9rem 5rem 5rem 5rem;
}

.profileRow {
    display: flex;
    align-items: center;
}